* {
  margin: 0;
  padding: 0;
}

body, html {
    background: #000;
    height: 100%;
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

img {
    height: 27px;
}

.logo {
    height: 54px;
    cursor: crosshair;
    margin-bottom: 100px;
}

.telegram-logo {
    margin-bottom: 27px;
}

.github-logo {
    margin-bottom: 27px;
}

a.codewars-logo {
    margin-bottom: 27px;
}

img.codewars-logo {
    border-radius: 50%;
}

.searchBar {
    margin-bottom: 27px;
    padding-left: 5px;
    /*padding-right: 5px;*/
    height: 27px;
    width: 27px;
    background: #FFF;
    /*background: linear-gradient(to bottom, #E67409, #FFA800);*/
    border: none;
    color: #000;
    outline: none; /* for chrome */
    border-radius: 50%;
}

.year {
    color: #FFF;
    margin-top: 27px;
}