@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

html {
	background: #000 url(background/red_background.gif);
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.WRABZY {
	font-family: 'Fredericka the Great', cursive;
	/*font-style: italic;*/
	/*font-weight: bold;*/
	text-align: center;
	font-size: 1100%;
	padding-top: 40px;
	color: rgb(120, 0, 0);
	/*vertical-align: middle;*/
}

.logo {
	vertical-align: top;
}