* {
  margin: 0;
  padding: 0;
}

body, html {
    background: #000;
    height: 100%;
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.logo {
    margin-top: 22px;
    height: 54px;
    cursor: crosshair;
}

.telegram-logo {
    margin-top: 22px;
    height: 27px;
}

.github-logo {
    margin-top: 22px;
    height: 27px;
}

.codewars-logo {
    margin-top: 22px;
    height: 27px;
    border-radius: 50%;
}

.searchBar {
    margin-top: 22px;
    padding-left: 5px;
    /*padding-right: 5px;*/
    height: 27px;
    width: 27px;
    background: #E02E2E;
    background: linear-gradient(to bottom, #E67409, #FFA800);
    border: none;
    color: #000;
    outline: none; /* for chrome */
    border-radius: 50%;
}